<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Permissions for background location access (needed for geofencing) -->
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuddyPunchClone"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AttendanceTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeProfileUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceGroupingMainActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceMarkActivity"
            android:exported="false" />
        <activity
            android:name=".LiveFeedActivity"
            android:exported="false" />
        <activity
            android:name=".IPSLiveFeedMainActivity"
            android:exported="false" />
        <activity
            android:name=".WSMainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnKuhzNXj8cMaxtiuX_9Qyc2Cg47pvCuo" />

        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".GeofencingActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" /> <!-- Activities -->
        <activity
            android:name=".AddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MyNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".TimeCardActivity"
            android:exported="false" />
        <activity
            android:name=".TimeOffApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".PunchApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".TimeOffActivity"
            android:exported="false" />
    </application>

</manifest>